@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

img{
    width: 95%;
    border-radius: 1em;
    margin-top: 0.5em;
    object-fit: cover;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family:'Outfit', sans-serif;
    text-align: center;
}

body p{
    font-size: 15px;
    padding:  1em 2em;
    color: hsl(210, 8%, 55%);
}

body h2{
    color: hsl(218, 44%, 22%);
}

.container{
    max-width: 20em;
    margin: 0 auto;
    margin-top: 20vh;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 0.5em;
    border-radius: 1.3em;
    box-shadow: 3em;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10vh;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
    }

.sr-only{
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important; 
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;            
}
